<body data-controller="home">
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

  <div class="wrapper">
    <div id="main">
      <%= render 'layouts/header' %>
      <section class="content">
        <div class="content-container">
          <div class="scroller">
            <div class="posts">
              <div class="post">
                <h1 class="post-title">Using image as a media blog content</h1>
                <div class="row">
                  <div class="span4">
                    <a href="post.html"><img src="img/blog/1.jpg" alt="image alt name"></a>
                  </div>
                  <div class="span8">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, inventore dolores perspiciatis vero optio. Iusto, sit, expedita, eaque ratione enim ipsa ut tempore animi vero distinctio dolor itaque quae blanditiis.</p>

                    <p><a href="post.html" class="more">Read more</a></p>
                  </div>
                </div>
                <div class="post-meta">
                  <p>
                    <a class="date"><i class="icon-calendar"></i> April 25, 2013</a>
                    <a href="#" class="post-author icon-user">admin</a>
                    <span class="post-tags"><i class="icon-tag"></i> <a href="#">Photograpy</a> <a href="#">Design</a></span>
                    <a href="#" class="post-comments icon-comment">3 Comments</a>
                  </p>
                </div>
              </div>  <!-- .post -->
              
              <div class="post">
                <h1 class="post-title">Using image as a media blog content</h1>
                <div class="row">
                  <div class="span4">
                    <a href="post.html"><img src="img/blog/1.jpg" alt="image alt name"></a>
                  </div>
                  <div class="span8">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, inventore dolores perspiciatis vero optio. Iusto, sit, expedita, eaque ratione enim ipsa ut tempore animi vero distinctio dolor itaque quae blanditiis.</p>

                    <p><a href="post.html" class="more">Read more</a></p>
                  </div>
                </div>
                <div class="post-meta">
                  <p>
                    <a class="date"><i class="icon-calendar"></i> April 25, 2013</a>
                    <a href="#" class="post-author icon-user">admin</a>
                    <span class="post-tags"><i class="icon-tag"></i> <a href="#">Photograpy</a> <a href="#">Design</a></span>
                    <a href="#" class="post-comments icon-comment">3 Comments</a>
                  </p>
                </div>
              </div>  <!-- .post -->
            </div> <!-- .posts -->
          </div> <!-- .scroller -->
        </div><!-- .content-controller -->
      </section>  <!-- .content -->
    </div>  <!-- #main -->
    <%= render 'layouts/footer' %>
  </div> <!-- .wrapper -->
</body>