<body data-controller="home">
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

  <div class="wrapper">
    <div id="main">
      <%= render 'layouts/header' %>

                <section class="content">

                    <div class="content-container">
                    
                        <div class="scroller">
                            

                            <div class="posts">
                                
                                <div class="post">
                                    <h1 class="post-title">Using image as a media blog content</h1>
                                    <div class="row">
                                        <div class="span4">
                                            <a href="post.html"><img src="img/blog/1.jpg" alt="image alt name"></a>
                                        </div>
                                        <div class="span8">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, inventore dolores perspiciatis vero optio. Iusto, sit, expedita, eaque ratione enim ipsa ut tempore animi vero distinctio dolor itaque quae blanditiis.</p>

                                            <p><a href="post.html" class="more">Read more</a></p>
                                        </div>
                                    </div>
                                    <div class="post-meta">
                                        <p>
                                            <a class="date"><i class="icon-calendar"></i> April 25, 2013</a>
                                            <a href="#" class="post-author icon-user">admin</a>
                                            <span class="post-tags"><i class="icon-tag"></i> <a href="#">Photograpy</a> <a href="#">Design</a></span>
                                            <a href="#" class="post-comments icon-comment">3 Comments</a>
                                        </p>
                                    </div>
                                </div>  <!-- .post -->

                                
                                <div class="post">
                                    <h1 class="post-title">Using image as a media blog content</h1>
                                    <div class="row">
                                        <div class="span4">
                                            <a href="post.html"><img src="img/blog/2.jpg" alt="image alt name"></a>
                                        </div>
                                        <div class="span8">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, inventore dolores perspiciatis vero optio. Iusto, sit, expedita, eaque ratione enim ipsa ut tempore animi vero distinctio dolor itaque quae blanditiis.</p>

                                            <ul class="ui-list">
                                                <li>Hello world</li>
                                                <li>This is</li>
                                                <li>a list.</li>
                                                <li>:)</li>
                                            </ul>

                                            <p><a href="post.html" class="more">Read more</a></p>
                                        </div>
                                    </div>
                                    <div class="post-meta">
                                        <p>
                                            <a class="date"><i class="icon-calendar"></i> April 25, 2013</a>
                                            <a href="#" class="post-author icon-user">admin</a>
                                            <span class="post-tags"><i class="icon-tag"></i> <a href="#">Photograpy</a> <a href="#">Design</a></span>
                                            <a href="#" class="post-comments icon-comment">3 Comments</a>
                                        </p>
                                    </div>
                                </div>  <!-- .post -->

                                <div class="post">
                                    <h1 class="post-title">Using image as a media blog content</h1>
                                    <div class="row">
                                        <div class="span4">
                                            <a href="post.html"><img src="img/blog/3.jpg" alt="image alt name"></a>
                                        </div>
                                        <div class="span8">
                                        
                                        	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, inventore dolores perspiciatis vero optio. Iusto, sit, expedita, eaque ratione enim ipsa ut tempore animi vero distinctio dolor itaque quae blanditiis.</p>
                                            
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, inventore dolores perspiciatis vero optio. Iusto, sit, expedita, eaque ratione enim ipsa ut tempore animi vero distinctio dolor itaque quae blanditiis.</p>

                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, inventore dolores perspiciatis vero optio. Iusto, sit, expedita, eaque ratione enim ipsa ut tempore animi vero distinctio dolor itaque quae blanditiis.</p>


                                            <p><a href="post.html" class="more">Read more</a></p>
                                        </div>
                                    </div>
                                    <div class="post-meta">
                                        <p>
                                            <a class="date"><i class="icon-calendar"></i> April 25, 2013</a>
                                            <a href="#" class="post-author icon-user">admin</a>
                                            <span class="post-tags"><i class="icon-tag"></i> <a href="#">Photograpy</a> <a href="#">Design</a></span>
                                            <a href="#" class="post-comments icon-comment">3 Comments</a>
                                        </p>
                                    </div>
                                </div>  <!-- .post -->

                            </div> <!-- .posts -->

                            <div class="blog-navigation">
                                <a href="#" class="item-prev">&lt;</a>
                                <a href="#" class="">1</a>
                                <a href="#" class="">2</a>
                                <a href="#" class="">3</a>
                                <a href="#" class="item-next">&gt;</a>
                            </div>        

                        </div> <!-- .scroller -->

                        <footer id="site-footer">
                            <p>&copy; Copyright - mustachethemes - Built with love</p>
                            <p class="footer-link">
                                <a href="index.html">Home</a> / <a href="profile.html">Profile</a> / <a href="education.html">Education</a> / <a href="portfolio.html">Portfolio</a> / <a href="experience.html">Experience</a> / <a href="blog.html">Blog</a> / <a href="contact.html">Contact</a>
                            </p>
                        </footer>

                    </div>  <!-- .content-container -->

                </section>  <!-- .content -->
    </div>  <!-- #main -->

    <%= render 'layouts/footer' %>
</div> <!-- .wrapper -->
</body>