<body data-controller="home">
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

  <div class="wrapper">
    <div id="main">
      <%= render 'layouts/header' %>
      <section class="content">
        <div class="content-container">
          <div class="scroller">
            <h3>Welcome to my profile Website <small>A little about me</small></h3>
            <p>I'm an Expert of Social Networking &amp; Internet Marketing. The name of my Company is "Demo". It's a registered company in Manhattan, New York. I'm the founder and proprietor of this company.
      I believe in Customer Satisfaction &amp; Quality more than profit. </p>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint and occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <h3>Extra Information <small>Things I like to do and softwares that I use</small></h3>
            <div class="row">
              <div class="span8">
                <div class="cv-accordion">
                    <h3>Section 1</h3>
                    <div>
                      <p>
                      Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
                      ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit
                      amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut
                      odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.
                      </p>
                    </div>
                    <h3>Section 2</h3>
                    <div>
                      <p>
                      Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet
                      purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor
                      velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In
                      suscipit faucibus urna.
                      </p>
                    </div>
                    <h3>Section 3</h3>
                    <div>
                      <p>
                      Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis.
                      Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero
                      ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis
                      lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.
                      </p>
                      <ul>
                        <li>List item one</li>
                        <li>List item two</li>
                        <li>List item three</li>
                      </ul>
                    </div>
                </div>
              </div>
              <div class="span4">
                <h4>Key Services</h4>

                <ul class="ui-list">
                    <li>Social Networking</li>
                    <li>Internet Marketing</li>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>LinkedIn</li>
                    <li>SoundCloud</li>
                    <li>SEO</li>
                </ul>

              </div>
            </div>

            <h3>My Services <small>Things I do</small></h3>
            <div class="row">
              <div class="span6 ui-feature">
                <h4><i class="icon-title icon-monitor"></i>Wordpress Themes</h4>
                <p>Donec ullamcorper nulla quis Praesent a tellus vitae nisl vehicula semper. Quisque bibendum molestie molestie.</p>
              </div>
              <div class="span6 ui-feature">
                <h4><i class="icon-title icon-basket"></i>Ecommerce Design</h4>
                <p>Donec ullamcorper nulla quis Praesent a tellus vitae nisl vehicula semper. Quisque bibendum molestie molestie.</p>
              </div>
            </div>

            <div class="row">
              <div class="span6 ui-feature">
                  <h4><i class="icon-title icon-picture"></i>Photography Edition</h4>
                  <p>Donec ullamcorper nulla quis Praesent a tellus vitae nisl vehicula semper. Quisque bibendum molestie molestie.</p>
              </div>
              <div class="span6 ui-feature">
                  <h4><i class="icon-title icon-chat"></i>Social Media Marketing</h4>
                  <p>Donec ullamcorper nulla quis Praesent a tellus vitae nisl vehicula semper. Quisque bibendum molestie molestie.</p>
              </div>
            </div>

          <div class="row">
            <div class="span6 ui-feature">
                <h4><i class="icon-title icon-pencil"></i>Text Edition for SEO</h4>
                <p>Donec ullamcorper nulla quis Praesent a tellus vitae nisl vehicula semper. Quisque bibendum molestie molestie.</p>
            </div>
            <div class="span6 ui-feature">
                <h4><i class="icon-title icon-popup"></i>HTML5 / CSS3 Coding</h4>
                <p>Donec ullamcorper nulla quis Praesent a tellus vitae nisl vehicula semper. Quisque bibendum molestie molestie.</p>
            </div>
          </div>

          </div> <!-- .scroller -->
          <footer id="site-footer">
            <p>&copy; Copyright - mustachethemes - Built with love</p>
            <p class="footer-link">
              <a href="index.html">Home</a> / <a href="profile.html">Profile</a> / <a href="education.html">Education</a> / <a href="portfolio.html">Portfolio</a> / <a href="experience.html">Experience</a> / <a href="blog.html">Blog</a> / <a href="contact.html">Contact</a>
            </p>
          </footer>
        </div>  <!-- .content-container -->

      </section>  <!-- .content -->

    </div>  <!-- #main -->
  <%= render 'layouts/footer' %>
  </div> <!-- .wrapper -->
</body>

